.shadow{
    text-shadow: 
                #000000  0 0 0,  
                #000000 calc( 100vw / 1200 * 4) calc( 100vw / 1200 * 4) calc( 100vw / 1200 * 4),
                #000000 calc( 100vw / 1200 * 5) calc( 100vw / 1200 * 5) calc( 100vw / 1200 * 5),
                #999999 calc(-100vw / 1200 * 6) calc(-100vw / 1200 * 6) calc( 100vw / 1200 * 6),
                #999999 calc( 100vw / 1200 * 6) calc( 100vw / 1200 * 6) calc( 100vw / 1200 * 6),
                #ffffff calc(-100vw / 1200 *12) calc(-100vw / 1200 *12) calc( 100vw / 1200 *12),
                #ffffff calc( 100vw / 1200 *12) calc( 100vw / 1200 *12) calc( 100vw / 1200 *12);
}
.back-value {
  text-shadow:
               #777777  calc( 40vmax / 5000 *01) calc( 40vmax / 5000 *01/1.3),
               #777777  calc( 40vmax / 5000 *02) calc( 40vmax / 5000 *02/1.3),
               #777777  calc( 40vmax / 5000 *03) calc( 40vmax / 5000 *03/1.3),
               #777777  calc( 40vmax / 5000 *04) calc( 40vmax / 5000 *04/1.3),
               #777777  calc( 40vmax / 5000 *05) calc( 40vmax / 5000 *05/1.3),
               #777777  calc( 40vmax / 5000 *06) calc( 40vmax / 5000 *06/1.3),
               #777777  calc( 40vmax / 5000 *07) calc( 40vmax / 5000 *07/1.3),
               #777777  calc( 40vmax / 5000 *08) calc( 40vmax / 5000 *08/1.3),
               #777777  calc( 40vmax / 5000 *09) calc( 40vmax / 5000 *09/1.3),
               #777777  calc( 40vmax / 5000 *10) calc( 40vmax / 5000 *10/1.3),
               #777777  calc( 40vmax / 5000 *11) calc( 40vmax / 5000 *11/1.3),
               #777777  calc( 40vmax / 5000 *12) calc( 40vmax / 5000 *12/1.3),
               #777777  calc( 40vmax / 5000 *13) calc( 40vmax / 5000 *13/1.3),
               #777777  calc( 40vmax / 5000 *14) calc( 40vmax / 5000 *14/1.3),
               #777777  calc( 40vmax / 5000 *15) calc( 40vmax / 5000 *15/1.3),
               #777777  calc( 40vmax / 5000 *16) calc( 40vmax / 5000 *16/1.3),
               #777777  calc( 40vmax / 5000 *17) calc( 40vmax / 5000 *17/1.3),
               #777777  calc( 40vmax / 5000 *18) calc( 40vmax / 5000 *18/1.3),
               #777777  calc( 40vmax / 5000 *19) calc( 40vmax / 5000 *19/1.3),
               #777777  calc( 40vmax / 5000 *20) calc( 40vmax / 5000 *20/1.3);
}
.shadow-fix {
  text-shadow: 
               #000000  calc( 40vmax / 1200 * 4) calc( 40vmax / 1200 * 4) calc( 40vmax / 1200 * 4),
               #0077aa  calc(-40vmax / 1200 * 6) calc(-40vmax / 1200 * 6) calc( 40vmax / 1200 * 6),
               #0077aa  calc( 40vmax / 1200 * 6) calc( 40vmax / 1200 * 6) calc( 40vmax / 1200 * 6),
               #00aadd  calc(-40vmax / 1200 *12) calc(-40vmax / 1200 *12) calc( 40vmax / 1200 *12),
               #00aadd  calc( 40vmax / 1200 *12) calc( 40vmax / 1200 *12) calc( 40vmax / 1200 *12);
}
.back-value-users {
  text-shadow:
               #000000  calc(-40vmax / 5000 *01) calc(-40vmax / 5000 *01/1.3),
               #000000  calc(-40vmax / 5000 *02) calc(-40vmax / 5000 *02/1.3),
               #000000  calc(-40vmax / 5000 *03) calc(-40vmax / 5000 *03/1.3),
               #000000  calc(-40vmax / 5000 *04) calc(-40vmax / 5000 *04/1.3),
               #000000  calc(-40vmax / 5000 *05) calc(-40vmax / 5000 *05/1.3),
               #000000  calc(-40vmax / 5000 *06) calc(-40vmax / 5000 *06/1.3),
               #000000  calc(-40vmax / 5000 *07) calc(-40vmax / 5000 *07/1.3),
               #000000  calc(-40vmax / 5000 *08) calc(-40vmax / 5000 *08/1.3),
               #000000  calc(-40vmax / 5000 *09) calc(-40vmax / 5000 *09/1.3),
               #000000  calc(-40vmax / 5000 *10) calc(-40vmax / 5000 *10/1.3),
               
               #000000  calc(-40vmax / 5000 *01) calc( 40vmax / 5000 *01/1.3),
               #000000  calc(-40vmax / 5000 *02) calc( 40vmax / 5000 *02/1.3),
               #000000  calc(-40vmax / 5000 *03) calc( 40vmax / 5000 *03/1.3),
               #000000  calc(-40vmax / 5000 *04) calc( 40vmax / 5000 *04/1.3),
               #000000  calc(-40vmax / 5000 *05) calc( 40vmax / 5000 *05/1.3),
               #000000  calc(-40vmax / 5000 *06) calc( 40vmax / 5000 *06/1.3),
               #000000  calc(-40vmax / 5000 *07) calc( 40vmax / 5000 *07/1.3),
               #000000  calc(-40vmax / 5000 *08) calc( 40vmax / 5000 *08/1.3),
               #000000  calc(-40vmax / 5000 *09) calc( 40vmax / 5000 *09/1.3),
               #000000  calc(-40vmax / 5000 *10) calc( 40vmax / 5000 *10/1.3),
               
               #000000  calc( 40vmax / 5000 *01) calc(-40vmax / 5000 *01/1.3),
               #000000  calc( 40vmax / 5000 *02) calc(-40vmax / 5000 *02/1.3),
               #000000  calc( 40vmax / 5000 *03) calc(-40vmax / 5000 *03/1.3),
               #000000  calc( 40vmax / 5000 *04) calc(-40vmax / 5000 *04/1.3),
               #000000  calc( 40vmax / 5000 *05) calc(-40vmax / 5000 *05/1.3),
               #000000  calc( 40vmax / 5000 *06) calc(-40vmax / 5000 *06/1.3),
               #000000  calc( 40vmax / 5000 *07) calc(-40vmax / 5000 *07/1.3),
               #000000  calc( 40vmax / 5000 *08) calc(-40vmax / 5000 *08/1.3),
               #000000  calc( 40vmax / 5000 *09) calc(-40vmax / 5000 *09/1.3),
               #000000  calc( 40vmax / 5000 *10) calc(-40vmax / 5000 *10/1.3),
               
               #707070  calc( 40vmax / 5000 *01) calc( 40vmax / 5000 *01/1.3),
               #707070  calc( 40vmax / 5000 *02) calc( 40vmax / 5000 *02/1.3),
               #707070  calc( 40vmax / 5000 *03) calc( 40vmax / 5000 *03/1.3),
               #707070  calc( 40vmax / 5000 *04) calc( 40vmax / 5000 *04/1.3),
               #707070  calc( 40vmax / 5000 *05) calc( 40vmax / 5000 *05/1.3),
               #707070  calc( 40vmax / 5000 *06) calc( 40vmax / 5000 *06/1.3),
               #707070  calc( 40vmax / 5000 *07) calc( 40vmax / 5000 *07/1.3),
               #707070  calc( 40vmax / 5000 *08) calc( 40vmax / 5000 *08/1.3),
               #707070  calc( 40vmax / 5000 *09) calc( 40vmax / 5000 *09/1.3),
               #707070  calc( 40vmax / 5000 *10) calc( 40vmax / 5000 *10/1.3),
               #707070  calc( 40vmax / 5000 *11) calc( 40vmax / 5000 *11/1.3),
               #707070  calc( 40vmax / 5000 *12) calc( 40vmax / 5000 *12/1.3),
               #707070  calc( 40vmax / 5000 *13) calc( 40vmax / 5000 *13/1.3),
               #707070  calc( 40vmax / 5000 *14) calc( 40vmax / 5000 *14/1.3),
               #707070  calc( 40vmax / 5000 *15) calc( 40vmax / 5000 *15/1.3),
               #656565  calc( 40vmax / 5000 *16) calc( 40vmax / 5000 *16/1.3),
               #606060  calc( 40vmax / 5000 *17) calc( 40vmax / 5000 *17/1.3),
               #555555  calc( 40vmax / 5000 *18) calc( 40vmax / 5000 *18/1.3),
               #505050  calc( 40vmax / 5000 *19) calc( 40vmax / 5000 *19/1.3),
               #454545  calc( 40vmax / 5000 *20) calc( 40vmax / 5000 *20/1.3),
               #404040  calc( 40vmax / 5000 *21) calc( 40vmax / 5000 *21/1.3),
               #353535  calc( 40vmax / 5000 *22) calc( 40vmax / 5000 *22/1.3),
               #303030  calc( 40vmax / 5000 *23) calc( 40vmax / 5000 *23/1.3),
               #252525  calc( 40vmax / 5000 *24) calc( 40vmax / 5000 *24/1.3),
               #202020  calc( 40vmax / 5000 *25) calc( 40vmax / 5000 *25/1.3);
}
.shadow-fix-icogon {
  text-shadow:
               #000000  calc( 40vmax / 1200 *01) calc( 40vmax / 1200 *01/1.3) calc( 40vmax / 1200 *1),
               #111111  calc( 40vmax / 1200 *02) calc( 40vmax / 1200 *02/1.3) calc( 40vmax / 1200 *1),
               #222222  calc( 40vmax / 1200 *03) calc( 40vmax / 1200 *03/1.3) calc( 40vmax / 1200 *1),
               #333333  calc( 40vmax / 1200 *04) calc( 40vmax / 1200 *04/1.3) calc( 40vmax / 1200 *1),
               #444444  calc( 40vmax / 1200 *05) calc( 40vmax / 1200 *05/1.3) calc( 40vmax / 1200 *1),
               #555555  calc( 40vmax / 1200 *06) calc( 40vmax / 1200 *06/1.3) calc( 40vmax / 1200 *1),
               #666666  calc( 40vmax / 1200 *07) calc( 40vmax / 1200 *07/1.3) calc( 40vmax / 1200 *1),
               #777777  calc( 40vmax / 1200 *08) calc( 40vmax / 1200 *08/1.3) calc( 40vmax / 1200 *1),
               #777777  calc( 40vmax / 1200 *09) calc( 40vmax / 1200 *09/1.3) calc( 40vmax / 1200 *1),
               #777777  calc( 40vmax / 1200 *10) calc( 40vmax / 1200 *10/1.3) calc( 40vmax / 1200 *1),
               #777777  calc( 40vmax / 1200 *11) calc( 40vmax / 1200 *11/1.3) calc( 40vmax / 1200 *1),
               #777777  calc( 40vmax / 1200 *12) calc( 40vmax / 1200 *12/1.3) calc( 40vmax / 1200 *1),
               #777777  calc( 40vmax / 1200 *13) calc( 40vmax / 1200 *13/1.3) calc( 40vmax / 1200 *1),
               #777777  calc( 40vmax / 1200 *14) calc( 40vmax / 1200 *14/1.3) calc( 40vmax / 1200 *1),
               #666666  calc( 40vmax / 1200 *15) calc( 40vmax / 1200 *15/1.3) calc( 40vmax / 1200 *1),
               #555555  calc( 40vmax / 1200 *16) calc( 40vmax / 1200 *16/1.3) calc( 40vmax / 1200 *1),
               #444444  calc( 40vmax / 1200 *17) calc( 40vmax / 1200 *17/1.3) calc( 40vmax / 1200 *1),
               #333333  calc( 40vmax / 1200 *18) calc( 40vmax / 1200 *18/1.3) calc( 40vmax / 1200 *1),
               #222222  calc( 40vmax / 1200 *19) calc( 40vmax / 1200 *19/1.3) calc( 40vmax / 1200 *1),
               #111111  calc( 40vmax / 1200 *20) calc( 40vmax / 1200 *20/1.3) calc( 40vmax / 1200 *1);
}